app:
  name: "template"
  version: 1
  env: "local"
  debug: true

http:
  url: "http://localhost:3000"
  port: 3000
  expose_header: "x-Total-Count,X-Total-Pages"
  allow_origin: "*"

redis:
  addr: "redis:6379"
  db: "0"

log:
  default: "stdout"
  level: "debug"
  channels:
    daily:
      root_path: "storage/logs"
      file_name: "app.log"
    single:
      root_path: "storage/logs"
      file_name: "app.log"
  hooks:
    telegram:
      enable: false
      bot_token:
      chat_id:
      endpoint: "https://api.telegram.org/bot%s/sendMessage?chat_id=%d&text=%s"
      level: "error"
      mentions:
        error:
          - bangiangcuachut

jwt:
  secret:
  timeout: "1440" #ín seconds

db:
  default: "postgres"
  connections:
    postgres:
      host: "postgres"
      port: "5432"
      db_name: "template"
      db_user: "postgres"
      db_password: "123456"
      db_pool_max: 1
    mysql:
      host: "mysql"
      port: "3306"
      db_name: "template"
      db_user: "root"
      db_password: "123456"
      db_max_connection: 1

storage:
  default: "s3"
  disks:
    local:
      driver: "local"
      root: "storage/app"
    public:
      driver: "local"
      root: "storage/app/public"
      url: "http://localhost:3000/storage"
    s3:
      driver: "s3"
      access_key:
      secret_key:
      bucket:
      region:
      url: